.city {
  background-color: #666b02;
  color: #c8f7ba;
}

.bird {
  background-color: #666b02;
    color: #c8f7ba;
}

.This is Emils. {
  background-color: #bbd1a9;
  color: #43701b;
}

.css body {
background-color: bbd1a9;
}
